.te-dhenat .row {
  background-color: #FCF6F5FF;
  padding-top: 2em;
}

.fa-user-plus {
  font-size: 45px;
}

.te-dhenat .data {
  margin: 15%;
  padding-bottom: 30px;
  border-bottom: 5px solid rgb(71, 126, 189);
}

.fa-smile-beam,
.fa-heart-broken,
.fa-user-plus {
  font-size: 30pt;
  padding-left: 5px;
  padding-top: 10pt;
}

.te-dhenat .confirmed {
  border-bottom: 5px solid rgb(71, 126, 189);
  color: rgb(71, 126, 189);
}

.te-dhenat .recovered {
  border-bottom: 5px solid rgb(71, 189, 150);
  color: rgb(71, 189, 150);
}

.te-dhenat .deaths {
  border-bottom: 5px solid rgb(172, 73, 73);
  color: rgb(172, 73, 73);
}

.te-dhenat h5 {
  color: rgb(75, 117, 136);
  font-weight: bolder !important;
}